// Fonts
$neutra-bold: "Neutra Bold", sans-serif;
$neutra-book: "Neutra Book", sans-serif;

// Color
// Yellow
$yellow-600: #fdc42d;
$yellow-700: #eda606;

// Blue
$blue-700: #2a5393;

// Grey
$grey-600: #575756;
$grey-500: #c9c9c9;
$grey-100: #f6f6f6;
