@use '../abstracts';

footer {
  background-color: abstracts.$grey-100;
  padding: 4.1rem 0 5rem 0;

  h2 {
    font-size: 2rem;
    font-family: abstracts.$neutra-bold;
    font-weight: 700;
  }

  .widget-container {
    width: 20.5%;
    font-size: 2rem;

    @media screen and (max-width: 1000px) {
      width: 43%;
    }

    &:not(:last-of-type) {
      margin-right: 5.6rem;
    }

    a {
      text-decoration: none;
      color: abstracts.$blue-700;
    }

    &:nth-of-type(2) {
      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: abstracts.$blue-700;
        font-size: 2rem;
      }
      a::before {
        content: url(../img/linkedin.svg);
        padding-right: 1rem;
      }
    }
  }

  img {
    margin-bottom: 1.8rem;
  }

  .textwidget {
    strong {
      font-family: abstracts.$neutra-bold;
      font-weight: 700;
    }
    p:not(:last-of-type) {
      margin-bottom: 2rem;
    }
  }
}

.hero-footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
