@use '../abstracts';

footer {
  background-color: abstracts.$grey-100;
  padding: 4.1rem 0 5rem 0;

  .widget-container {
    flex: 1 0 25%;
    font-size: 2rem;

    &:nth-of-type(2) {
      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: abstracts.$blue-700;
      }
      a::before {
        content: url(../img/linkedin.svg);
        padding-right: 1rem;
      }
    }
  }

  img {
    margin-bottom: 1.8rem;
  }

  .textwidget {
    strong {
      font-family: abstracts.$neutra-bold;
      font-weight: 700;
    }
    p:not(:last-of-type) {
      margin-bottom: 2rem;
    }
  }
}

.hero-footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
