@use '../abstracts';
@use '../base';
header {
  max-width: 85%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .main-menu__container {
    display: flex;
    align-items: center;

    @media screen and (max-width: 1175px) {
      width: unset;
      justify-content: space-between;
    }
    @media screen and (max-width: 820px) {
      justify-content: space-around;
    }
  }
  #main-menu {
    display: flex;
    align-items: center;
    li:not(:last-of-type) {
      margin-right: 4.4rem;
    }

    a {
      font-family: abstracts.$neutra-bold;
      font-size: 1.8rem;
      color: abstracts.$grey-600;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 0;
    }
  }

  .homeurl {
    display: inline-block;
  }

  .form-button__container {
    margin-left: 4.4rem;
    display: flex;

    @media screen and (max-width: 1175px) {
      margin-left: 0;
      justify-content: center;
      text-align: center;
      align-items: center;
    }

    @media screen and (max-width: 820px) {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
    }

    a {
      font-size: 1.8rem;
      color: white !important;
      background-color: abstracts.$blue-700;
      padding: 0.8rem 1rem 0.8rem 1rem;
      text-decoration: none;
      font-family: abstracts.$neutra-book !important;
      font-weight: 400 !important;
      text-transform: uppercase;
      position: relative;
      border-radius: 5px;
      display: flex;
      align-items: center;

      &::before {
        content: url(../img/little-white-symbols.svg);
        line-height: 0;
      }

      &:last-of-type {
        background-color: abstracts.$yellow-600;
      }
    }

    a:first-of-type {
      margin-right: 2.3rem;
      @media screen and (max-width: 820px) {
        margin-right: 0;
      }
    }
  }
}
