@use '../abstracts';
@use '../base';
header {
  max-width: 85%;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  margin-left: 2.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .main-menu__container {
    display: flex;
    align-items: center;

    @media screen and (max-width: 1150px) {
      width: 60%;
      justify-content: space-between;
    }
    @media screen and (max-width: 820px) {
      justify-content: space-around;
    }
    @media screen and (max-width: 520px) {
      width: auto;
    }
  }
  #main-menu {
    display: flex;
    li:not(:last-of-type) {
      margin-right: 4.4rem;
    }

    a {
      font-family: abstracts.$neutra-bold;
      font-size: 1.8rem;
      color: abstracts.$grey-600;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 0;
    }
  }

  .vertical {
    display: none;
    @media screen and (max-width: 520px) {
      display: inline-block;
    }
  }

  @media screen and (max-width: 520px) {
    .horizontal {
      display: none;
    }
  }

  .form-button__container {
    margin-left: 4.4rem;

    @media screen and (max-width: 820px) {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
    }

    a {
      font-size: 1.8rem;
      color: white;
      background-color: abstracts.$blue-700;
      padding: 1rem 1rem 1rem 1rem;
      text-decoration: none;
      font-weight: 400;
      text-transform: uppercase;
      position: relative;
      border-radius: 5px;

      &::before {
        content: url(../img/little-white-symbols.svg);
      }

      &:last-of-type {
        background-color: abstracts.$yellow-600;
      }
    }

    a:first-of-type {
      margin-right: 2.3rem;
      @media screen and (max-width: 724px) {
        margin-right: 0;
      }
    }
  }
}
