@font-face {
  font-family: "Neutra Book";
  src: url("../fonts/NeutraText-Book.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Neutra Bold";
  src: url("../fonts/NeutraText-Bold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
