@use '../abstracts';

.postuler-job {
  background-color: abstracts.$grey-100;
  padding-top: 3.6rem;
  padding-bottom: 3.4rem;
  h2 {
    font-size: 3.2rem;
    font-family: "Neutra Bold", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 4.5rem;
  }
}

.wpcf7 form {
  margin-top: 5.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 4.6rem;
  row-gap: 4.6rem;
  column-gap: 2.9rem;

  @media screen and (max-width: 1659px) {
    column-gap: 0.9rem;
  }

  @media screen and (max-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media screen and (max-width: 950px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (max-width: 765px) {
    display: flex;
    flex-direction: column;
  }

  label,
  div:not(.wpcf7-response-output) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Neutra Bold", sans-serif;

    @media screen and (max-width: 765px) {
      flex-direction: column;
      align-items: center;
    }
  }

  input {
    margin-top: 1.8rem;
    border: 0px solid transparent;
    border-bottom: 1px solid #2a5393;
    width: 86%;
    background-color: transparent;
    @media screen and (max-width: 1580) {
      width: 100%;
    }

    &::placeholder {
      color: abstracts.$blue-700;
      opacity: 0.82;
      font-family: abstracts.$neutra-book;
      font-size: 2.2rem;
      color: abstracts.$blue-700;
      font-weight: 400;
    }
  }

  .civilite-container {
    display: flex;
    flex-direction: row;
    column-gap: 1.3rem;

    @media screen and (max-width: 765px) {
      justify-content: center;
    }

    label {
      width: fit-content;
      width: -moz-fit-content;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      input {
        margin-right: 0.8rem;
        width: 2rem;
        margin-top: 0;
        margin-left: 0;
      }
    }
  }

  .message {
    grid-column: 1 / 5;

    @media screen and (max-width: 1200px) {
      grid-column: 1 / 4;
    }
    @media screen and (max-width: 950px) {
      grid-column: 1 / 3;
    }
    @media screen and (max-width: 765px) {
      grid-column: 1;
    }

    span {
      width: 100%;
    }
  }

  textarea {
    margin-top: 1.8rem;
    width: 100%;
  }

  .cv {
    grid-column: 1 / 4;
    display: flex;
    flex-direction: row;
    font-size: 1.8rem;
    align-items: center;
    font-family: abstracts.$neutra-book;

    @media screen and (max-width: 950px) {
      grid-column: 1 / 3;
    }

    @media screen and (max-width: 765px) {
      grid-column: 1;
      flex-direction: column;
    }

    input {
      border: none;
      margin-right: 2.5rem;
      width: fit-content;
      width: -moz-fot-content;
      margin-top: 0;

      @media screen and (max-width: 420px) {
        margin-right: 0;
      }
    }
  }

  .send {
    grid-column: 3 / 5;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 1200px) {
      grid-column: 2 / 4;
    }
    @media screen and (max-width: 950px) {
      grid-column: 1 / 3;
    }

    @media screen and (max-width: 765px) {
      grid-column: 1;
    }

    .consentement label {
      font-family: "Neutra Book", sans-serif;
      font-size: 2.2rem;
      display: flex;
      flex-direction: row;
      color: #2a5393;
      font-weight: 400;
      display: flex;
      flex-direction: row;
      font-size: 1.8rem;
      input {
        align-self: flex-start;
        width: fit-content;
        margin-right: 0.8rem;
        margin-top: 0.5em;
        width: -moz-fit-content;
      }
    }
  }

  .envoyer {
    align-self: flex-end;
    justify-self: flex-end;
    grid-column: 3/5;
    font-size: 1.8rem;
    background-color: #fdc42d;
    padding: 2.448rem 4.68rem 1.9rem 2.98rem;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    border-bottom: 0px solid transparent;
    border-radius: 5px;
    width: fit-content;
    width: -moz-fit-content;
    font-family: "Neutra Book", sans-serif;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-bottom: 1.5rem;

    @media screen and (max-width: 1200px) {
      grid-column: 2 / 4;
    }

    @media screen and (max-width: 950px) {
      grid-column: 1/ 3;
      justify-self: center;
      align-self: center;
    }

    @media screen and (max-width: 765px) {
      grid-column: 1;
    }

    &::before {
      content: url(../img/little-blue-symbols.svg);
      z-index: 10;
    }

    input {
      position: absolute;
      background-color: transparent;
      border-bottom: none;
      color: transparent;
      left: 0;
      right: 0;
      margin: auto;
    }
  }

  .ajax-loader {
    position: absolute !important;
    right: -5% !important;
  }
}
