@use '../abstracts';
.job-description {
  margin-bottom: 12rem;
  padding-top: 15.5rem;

  @media screen and (max-width: 1073px) {
    &.openSearch {
      padding-top: 23.5rem;
    }
  }
  @media screen and (max-width: 590px) {
    &.openSearch {
      padding-top: 43.5rem;
    }
  }

  .container {
    max-width: 65%;

    @media screen and (max-width: 1420px) {
      max-width: 73%;
    }
    @media screen and (max-width: 1263px) {
      max-width: 85%;
    }
  }

  a {
    font-size: 1.8rem;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 4.2rem;
    display: flow-root;
  }

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      text-transform: uppercase;
      font-family: abstracts.$neutra-bold;
      font-size: 3.2rem;
      font-weight: 700;
    }

    p {
      font-family: abstracts.$neutra-bold;
      text-transform: uppercase;
      opacity: 80%;
    }

    span {
      margin-top: 2rem;
      font-size: 2rem;
      opacity: 82%;
    }

    strong {
      align-self: flex-end;
      background-color: abstracts.$yellow-600;
      color: white;
      font-family: abstracts.$neutra-bold;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding: 0.95rem 1.8rem;
      border: 0px solid transparent;
      border-radius: 5px;
    }
  }

  .details {
    margin-top: 7.5rem;

    ul {
      margin: 0 !important;
      list-style-position: inside;
      font-size: 2rem;
      margin-left: 2rem !important;

      li {
        list-style: disc !important;
      }
    }
  }

  h3 {
    font-family: abstracts.$neutra-bold;
    font-size: 2rem;
    margin-bottom: 2.4rem;
    text-transform: uppercase;
    font-weight: 700;
  }

  .information {
    margin-top: 8.1rem;
    div:not(:first-of-type) {
      margin-top: 6.4rem;
    }
  }
}

.plus {
  font-size: 2.6rem;
  font-family: abstracts.$neutra-bold;
  font-weight: 700;
  color: white;
  position: absolute;
  bottom: -7em;
  background-color: abstracts.$blue-700;
  border-radius: 50%;
  width: 39px;
  height: 39px;
  text-align: center;
  border: 0px solid transparent;
  z-index: 1;
  cursor: pointer;
}

.changeBottom {
  bottom: -10em;
}
