.photo-bot {
  position: relative;

  .gradient-bottom {
    position: absolute;
    width: 100%;
    background: transparent
      linear-gradient(180deg, #00000058 0%, #00000000 100%) 0% 0% no-repeat
      padding-box;
    top: 0;
    left: 0;
    z-index: 1;
    height: 28%;
  }
}
