@use '../abstracts';

.front-page {
  overflow: hidden;
  .hero-banner {
    position: relative;
    width: 100%;
    z-index: 1;
  }

  .background-image {
    position: absolute;
    z-index: -1;
    background-image: url(../img/test.jpg);
    width: 100%;
    top: 0;
    left: 0;
    height: 36em;
    opacity: 0.32;
    background-repeat: no-repeat;

    &::after {
      content: url("../img/width-opacity-symbols.svg");
      position: absolute;
      inset: 0;
      margin: auto;
      width: fit-content;
      width: -moz-fit-content;
    }
  }

  .gradient {
    height: 36em;
  }

  h1 {
    width: 35% !important;
    @media screen and (max-width: 1709px) {
      width: 39% !important;
    }
    @media screen and (max-width: 1533px) {
      width: 43% !important;
    }
    @media screen and (max-width: 1391px) {
      width: 48% !important;
    }
    @media screen and (max-width: 1246px) {
      width: 53% !important;
    }
    @media screen and (max-width: 1128px) {
      width: 59% !important;
    }
    @media screen and (max-width: 1013px) {
      width: 66% !important;
    }
    @media screen and (max-width: 906px) {
      width: 100% !important;
    }
    @media screen and (max-width: 598px) {
      &::before {
        top: -25% !important;
      }
    }
    @media screen and (max-width: 379px) {
      font-size: 5rem;
    }
  }

  .back-offre {
    color: abstracts.$blue-700;
    text-decoration: none;
  }

  .offres-link {
    align-self: center;
    margin-top: 4.5rem;
    background-color: #2a5393;
    color: #fff;
    font-size: 1.8rem;
    text-transform: uppercase;
    border-radius: 10px;
    border: 1px solid #2a5393;
    padding: 1.5rem 3rem 1.5rem 2.68rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: row;

    &::before {
      content: url(../img/little-white-symbols.svg);
      margin-right: 0.9rem;
      line-height: 0;
    }
  }

  .job-container {
    bottom: -22em;
  }

  .job {
    position: relative;
    z-index: 0;
    &::before {
      content: url("../img/width-yellow-symbols.svg");
      position: absolute;
      top: 6%;
      left: -15%;
      @media screen and (max-width: 1420px) {
        left: -25%;
      }
      @media screen and (max-width: 1263px) {
        z-index: -1;
      }
    }
  }

  .cabinet {
    padding-bottom: 11.2rem;
    position: relative;
    overflow-x: unset;

    .container {
      display: flex;
      column-gap: 2.6rem;
      row-gap: 2.6rem;
      overflow-x: hidden;
      @media screen and (max-width: 1235px) {
        flex-direction: column;
        align-items: center;
      }
      &::before {
        content: url("../img/dot-width-blue.svg");
        position: absolute;
        z-index: 1;
        bottom: -9%;
        right: 23%;
        @media screen and (max-width: 1637px) {
          right: 27%;
        }
        @media screen and (max-width: 1448px) {
          right: 32%;
        }
        @media screen and (max-width: 1235px) {
          right: 18%;
          bottom: -5%;
        }
        @media screen and (max-width: 1109px) {
          right: 23%;
        }
        @media screen and (max-width: 1001px) {
          right: 27%;
        }
        @media screen and (max-width: 898px) {
          display: none;
        }
      }

      &::after {
        content: url("../img/width-yellow-symbols.svg");
        position: absolute;
        z-index: 1;
        right: -5%;
        bottom: -34%;
        @media screen and (max-width: 1798px) {
          right: -6%;
        }
        @media screen and (max-width: 1655px) {
          right: -7%;
        }
        @media screen and (max-width: 1567px) {
          right: -9%;
        }
        @media screen and (max-width: 1235px) {
          right: -25%;
          bottom: -18%;
        }
        @media screen and (max-width: 898px) {
          display: none;
        }
      }
    }

    aside {
      display: flex;
      column-gap: 2.6rem;
      position: relative;
      justify-content: center;
      flex: 101em;
      @media screen and (max-width: 1235px) {
        flex: unset;
      }

      @media screen and (max-width: 764px) {
        flex-direction: column;
        align-items: center;
      }

      div {
        text-align: center;
        width: fit-content;
        width: -moz-fit-content;
        height: fit-content;
        height: -moz-fit-content;
        display: flex;

        flex-direction: column;

        @media screen and (max-width: 764px) {
          flex: unset;
        }

        img {
          margin: auto;
        }

        a {
          margin-top: 2.2rem;
          font-size: 2rem;
          text-decoration: none;
          color: abstracts.$blue-700;
          display: flex;
          align-self: flex-start;

          &::before {
            content: url("../img/linkedin.svg");
            padding-right: 1.4rem;
          }
        }
      }

      #pauline {
        @media screen and (max-width: 764px) {
          margin-top: 5rem;
        }
      }
    }

    h2 {
      margin-top: 0;
      margin-bottom: 2.7rem;
    }

    ul {
      margin-left: 3.5rem !important;

      li {
        list-style: disc !important;
      }
    }

    article {
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 2;
      :is(p, strong, ul, ol, li) {
        opacity: 82%;
      }
      a {
        margin-top: 4.7rem;
        font-size: 1.8rem;
        color: #fff;
        background-color: #2a5393;
        padding: 1.5rem 4rem;
        text-decoration: none;
        font-weight: 400;
        text-transform: uppercase;
        border-radius: 10px;
        display: flex;
        align-items: center;
        width: fit-content;
        width: -moz-fit-content;

        &::before {
          content: url(../img/little-white-symbols.svg);
          line-height: 0;
          margin-right: 0.3em;
        }
      }

      p:first-of-type {
        margin-top: 0;
        margin-bottom: 3.6rem;
      }
    }

    .telescope {
      background: url("../img/telescope.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      width: 83%;
      height: 376px;
      background-position: right;
      position: absolute;
      bottom: -40%;
      left: 0;
      @media screen and (max-width: 1235px) {
        bottom: -24%;
        width: 100%;
      }
      @media screen and (max-width: 764px) {
        bottom: -16%;
      }
    }
  }

  .post-recruit {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 28.5rem;
    background-color: white;

    @media screen and (max-width: 750px) {
      display: flex;
      flex-direction: column;
    }

    a {
      font-size: 1.8rem;
      color: white;
      background-color: abstracts.$blue-700;
      padding: 2rem 4rem;
      text-decoration: none;
      font-weight: 400;
      text-transform: uppercase;
      position: relative;
      border-radius: 10px;
      position: absolute;
      bottom: -9%;
      right: 25%;

      @media screen and (max-width: 431px) {
        bottom: -6%;
      }

      &::before {
        content: url(../img/little-white-symbols.svg);
      }

      @media screen and (max-width: 750px) {
        right: 0;
        left: 0;
        margin: auto;
        width: fit-content;
        width: -moz-fit-content;
      }
    }

    .postule {
      padding-bottom: 5.7rem;
      background-color: abstracts.$blue-700;
      color: white;
      padding-left: 19.4rem;
      padding-top: 1.9rem;
      padding-right: 1.7rem;
      position: relative;
      z-index: 1;

      @media screen and (max-width: 1464px) {
        padding-left: 13.4rem;
      }
      @media screen and (max-width: 1229px) {
        padding-left: 7.4rem;
      }
      @media screen and (max-width: 1000px) {
        padding-left: 4.4rem;
      }

      a {
        background-color: abstracts.$yellow-600;
        color: abstracts.$blue-700;

        &::before {
          content: url(../img/little-blue-symbols.svg);
        }
      }

      .texte-fond {
        font-size: 2rem;

        p:not(:first-of-type) {
          margin-top: 2.5rem;
        }
      }

      h2 {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        font-size: 3.2rem;
        font-family: abstracts.$neutra-bold;
        text-transform: uppercase;
        margin-bottom: 2.7rem;
        margin-top: 0;

        &::before {
          content: url("../img/dot-little-white.svg");
          padding-bottom: 2.1rem;
        }
      }
    }

    .recrute {
      padding-right: 22.3rem;
      padding-left: 4rem;
      padding-top: 1.9rem;
      position: relative;
      padding-bottom: 7.6rem;
      background-color: white;
      margin-bottom: 0;

      @media screen and (max-width: 1464px) {
        padding-right: 13.4rem;
      }
      @media screen and (max-width: 1229px) {
        padding-right: 7.4rem;
      }
      @media screen and (max-width: 1000px) {
        padding-right: 4.4rem;
      }

      a {
        right: unset;
        left: 25%;
        @media screen and (max-width: 750px) {
          right: 0;
          left: 0;
        }
      }

      .texte-fond {
        font-size: 2rem;
        p:not(:first-of-type) {
          margin-top: 2.5rem;
        }
      }

      h2 {
        display: flex;
        flex-direction: column;
        font-size: 3.2rem;
        font-family: abstracts.$neutra-bold;
        margin-top: 0;
        text-transform: uppercase;
        margin-bottom: 3.2rem;

        &::before {
          content: url("../img/dot-little-blue.svg");
          padding-bottom: 2.1rem;
        }
      }
    }
  }

  .temoignages {
    padding-top: 10.5rem;
    padding-bottom: 7.1rem;

    @media screen and (max-width: 450px) {
      padding-bottom: 4rem;
    }

    .title-container {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 4rem;
    }

    h2 {
      font-size: 3.2rem;
      font-family: abstracts.$neutra-bold;
      text-transform: uppercase;

      &::before {
        content: url("../img/little-blue-symbols.svg");
      }
    }

    .splide__arrows {
      display: none;
    }

    .splide {
      li {
        display: flex;

        @media screen and (max-width: 1209px) {
          flex-direction: column;
          row-gap: 6.6rem;
        }

        .temoignages-container {
          display: flex;
          align-items: center;
          @media screen and (max-width: 725px) {
            flex-direction: column;
          }
        }

        .temoignages-container:first-of-type {
          &::after {
            content: url("../img/middle-yellow-symnols.svg");
            margin-left: 3rem;
            margin-right: 3rem;

            @media screen and (max-width: 1206px) {
              display: none;
            }
          }
        }

        .slider-image__container {
          width: 55%;
          @media screen and (max-width: 1360px) {
            width: 80%;
          }
          img {
            margin: auto;
          }
        }

        article {
          margin-left: 2rem;
          font-size: 2rem;

          &::before {
            content: url("../img/double-blue-quote.svg");
            margin-bottom: 1.9rem;
          }

          strong {
            font-family: abstracts.$neutra-bold;
            padding-top: 2rem;
            display: flow-root;
          }
        }
      }

      .splide__pagination {
        margin-top: 5.1rem;
        column-gap: 0.5rem;
      }

      .splide__pagination__page {
        border: 1px solid abstracts.$blue-700;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: white;

        &.is-active {
          background-color: abstracts.$blue-700;
        }
      }
    }
  }
}
