@use '../abstracts';

.list-page {
  .hero-banner {
    position: relative;
    width: 100%;
    margin-bottom: 15.5rem;

    .background-image {
      position: absolute;
      z-index: -1;
      background-image: url(../img/descriptif.jpg);
      width: 100%;
      top: 0;
      left: 0;
      opacity: 0.32;
    }
  }
}
