@use '../abstracts';

.list-page {
  .hero-banner {
    position: relative;
    width: 100%;

    .background-image {
      position: absolute;
      z-index: -1;
      background-image: url(../img/descriptif.jpg);
      width: 100%;
      top: 0;
      left: 0;
      height: 24em;
      opacity: 0.32;

      &::after {
        content: url("../img/width-opacity-symbols.svg");
        position: absolute;
        inset: 0;
        margin: auto;
        width: fit-content;
        width: -moz-fit-content;

        @media screen and (max-width: 450px) {
          width: 100%;
        }
      }
    }
  }
}
