@use '../abstracts';

.cabinet {
  padding-top: 7.4rem;
  padding-bottom: 8.1rem;
  background-color: abstracts.$grey-100;
  position: relative;

  .hero-banner {
    &::before {
      content: url("../img/dot-width-blue.svg");
      position: absolute;
      right: 23%;
      top: 35%;
    }

    &::after {
      content: url("../img/width-yellow-symbols.svg");
      position: absolute;
      right: -5%;
      top: 1%;
    }
  }

  .container {
    max-width: 71%;
  }

  .article-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .left-side {
    max-width: 57%;
  }

  h1 {
    font-size: 6rem;
    font-family: abstracts.$neutra-bold;
    font-weight: 700;
    line-height: 7rem;
    text-align: center;
    position: relative;

    &::before {
      content: url("../img/little-yellow-horizon-symbols.svg");
      position: absolute;
      top: -50%;
      left: 0;
      right: 0;
    }
  }

  h2 {
    margin-top: 7.3rem;
    font-size: 3.2rem;
    font-family: abstracts.$neutra-bold;
    text-transform: uppercase;
  }

  .short-text {
    margin-bottom: 3.6rem;
  }

  h3 {
    font-size: 2rem;
    font-family: abstracts.$neutra-bold;
    text-transform: uppercase;

    &:not(:first-of-type) {
      margin-top: 4.6rem;
    }

    &:before {
      content: url("../img/little-yellow-symbols.svg");
    }
  }

  p {
    margin-top: 2rem;
  }

  .bottom-article {
    margin-top: 5.4rem;

    .left-side {
      width: unset;
      margin-right: 9rem;
    }

    .right-side {
      width: 67%;
    }
  }
}
