@use '../abstracts';

.cabinet {
  padding-top: 7.4rem;
  padding-bottom: 8.1rem;
  background-color: abstracts.$grey-100;
  position: relative;

  .hero-banner {
    &::before {
      content: url("../img/dot-width-blue.svg");
      position: absolute;
      right: 23%;
      top: 17.5%;

      @media screen and (max-width: 1723px) {
        top: 17%;
        right: 25%;
      }

      @media screen and (max-width: 1651px) {
        right: 19%;
      }

      @media screen and (max-width: 1468px) {
        right: 22%;
      }

      @media screen and (max-width: 1368px) {
        display: none;
      }
    }

    &::after {
      content: url("../img/width-yellow-symbols.svg");
      position: absolute;
      right: -5%;
      top: 1%;

      @media screen and (max-width: 1651px) {
        right: -11%;
      }
      @media screen and (max-width: 1368px) {
        display: none;
      }
    }
  }

  .container {
    max-width: 71%;

    @media screen and (max-width: 1651px) {
      max-width: 80%;
    }
    @media screen and (max-width: 1381px) {
      max-width: 85%;
    }
  }

  .article-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;

    @media screen and (max-width: 1468px) {
      column-gap: 3rem;
    }
    @media screen and (max-width: 1176px) {
      flex-direction: column;
    }
  }

  .left-side {
    max-width: 57%;

    @media screen and (max-width: 1381px) {
      max-width: 63%;
    }
    @media screen and (max-width: 1176px) {
      max-width: unset;
    }
  }

  h1 {
    font-size: 6rem;
    font-family: abstracts.$neutra-bold;
    font-weight: 700;
    line-height: 7rem;
    text-align: center;
    position: relative;

    &::before {
      content: url("../img/little-yellow-horizon-symbols.svg");
      position: absolute;
      top: -50%;
      left: 0;
      right: 0;
    }
  }

  h2 {
    margin-top: 7.3rem;
    font-size: 3.2rem;
    font-family: abstracts.$neutra-bold;
    text-transform: uppercase;
  }

  .short-text {
    margin-bottom: 3.6rem;
  }

  h3 {
    font-size: 2rem;
    font-family: abstracts.$neutra-bold;
    text-transform: uppercase;

    &:not(:first-of-type) {
      margin-top: 4.6rem;
    }

    &:before {
      content: url("../img/little-yellow-symbols.svg");
    }
  }

  p {
    margin-top: 2rem;
  }

  .bottom-article {
    margin-top: 5.4rem;

    .left-side {
      width: unset;
      margin-right: 9rem;

      @media screen and (max-width: 1468px) {
        margin-right: 2rem;
      }
    }

    .right-side {
      width: 67%;
    }
  }

  .the-team {
    background-color: abstracts.$yellow-600;
    margin-top: 6.3rem;
    padding-top: 4.2rem;
    padding-bottom: 7.9rem;
    position: relative;
    overflow: hidden;

    &::before {
      content: url("../img/width-white-symbols.svg");
      position: absolute;
      left: 0;
      top: -40%;
    }

    .container {
      max-width: 69%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    aside {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 2.32rem;

      .dot-image {
        margin: 0 3.3rem;
        margin-bottom: 8rem;
      }
    }

    #pauline,
    #stephanie {
      display: flex;
      flex-direction: column;
      align-items: center;

      .img-container {
        border: 1px solid white;
        padding: 0.8rem;
        margin-bottom: 2.5rem;
      }

      a {
        font-size: 2rem;
        font-family: abstracts.$neutra-bold;
        text-decoration: none;
        font-weight: 700;
        text-transform: uppercase;
        color: abstracts.$blue-700;
        display: flex;
        align-items: center;

        &::before {
          content: url("../img/linkedin.svg");
          padding-right: 2rem;
        }
      }
    }

    article {
      margin-top: 5.2rem;
      font-size: 2rem;
      opacity: 82%;

      strong {
        font-family: abstracts.$neutra-bold;
      }
    }
  }

  .post-recruit {
    display: grid;
    grid-template-columns: 1fr 1fr;

    a {
      font-size: 1.8rem;
      color: white;
      background-color: abstracts.$blue-700;
      padding: 2rem 4rem;
      text-decoration: none;
      font-weight: 400;
      text-transform: uppercase;
      position: relative;
      border-radius: 10px;
      position: absolute;
      bottom: -9%;
      right: 25%;

      &::before {
        content: url(../img/little-white-symbols.svg);
      }
    }

    .postule {
      padding-bottom: 5.7rem;
      background-color: abstracts.$blue-700;
      color: white;
      padding-left: 19.4rem;
      padding-top: 1.9rem;
      padding-right: 1.7rem;
      position: relative;

      a {
        background-color: abstracts.$yellow-600;
        color: abstracts.$blue-700;

        &::before {
          content: url(../img/little-blue-symbols.svg);
        }
      }

      h2 {
        display: flex;
        flex-direction: column;
        margin-top: 0;

        &::before {
          content: url("../img/dot-little-white.svg");
          padding-bottom: 2.1rem;
        }
      }
    }

    .recrute {
      padding-right: 22.3rem;
      padding-left: 4rem;
      padding-top: 1.9rem;
      position: relative;
      padding-bottom: 7.6rem;

      a {
        right: unset;
        left: 25%;
      }

      h2 {
        display: flex;
        flex-direction: column;
        margin-top: 0;

        &::before {
          content: url("../img/dot-little-blue.svg");
          padding-bottom: 2.1rem;
        }
      }
    }
  }
}
