@use '../abstracts';

.postule-recrute {
  padding-top: 8.5rem;
  background-color: white;
  position: relative;

  &::before {
    content: url("../img/dot-width-blue.svg");
    position: absolute;
    top: 6%;
    left: 1%;
    transform: scaleX(-1);
  }

  .hero-banner {
    .container {
      display: flex;
      justify-content: center;
      text-align: center;
    }
  }

  h1 {
    font-size: 6rem;
    font-family: abstracts.$neutra-bold;
    font-weight: 700;
    line-height: 7rem;
    text-align: center;
    position: relative;
    max-width: 54%;

    &::before {
      content: url("../img/little-yellow-horizon-symbols.svg");
      position: absolute;
      top: -50%;
      left: 0;
      right: 0;

      @media screen and (max-width: 741px) {
        top: -30%;
      }
    }
  }

  .job-container {
    bottom: unset;
    top: 20%;
  }

  .changeBottom {
    bottom: unset;
    top: 21%;
  }

  .plus {
    bottom: unset;
    top: 13em;
  }

  .job-description.openSearch {
    margin-top: 22.5rem;
  }

  .resultat-job {
    position: initial;
    width: 100%;
    margin-top: 5rem;

    form {
      justify-content: center;
    }
  }

  .job {
    margin-top: 7.2rem;
    padding-top: 0;
  }
}

.job h4 {
  font-size: 3.2rem;
  font-family: abstracts.$neutra-bold;
  text-transform: uppercase;
}

.bottom-part {
  .container {
    display: flex;
    flex-direction: column;
    max-width: 75%;
  }

  h2 {
    font-size: 3.2rem;
    font-family: abstracts.$neutra-bold;
    text-transform: uppercase;
  }

  p {
    font-size: 1.8rem;
  }
  p,
  h3 {
    opacity: 86%;
  }

  h3 {
    font-size: 2rem;
    font-family: abstracts.$neutra-bold;
  }

  .article-bottom {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 5rem;

    aside img {
      width: 100%;
      height: 100%;
    }

    article {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 5.1rem;
      column-gap: 8rem;
    }
  }

  .lien-container {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      margin-bottom: 2.6rem;
      font-size: 1.8rem;
      color: #fff;
      background-color: #2a5393;
      padding: 2rem 4rem;
      text-decoration: none;
      font-weight: 400;
      text-transform: uppercase;
      border-radius: 10px;

      &::before {
        content: url(../img/little-white-symbols.svg);
      }
    }
  }
}
